ipykernel
numpy
scipy
matplotlib
jupyter
imageio
future
torch==2.7.1+cu118 # needed for GTx 1080 as cuda 11 is the last supported one
torchvision==0.22.1+cu118 # needed for GTx 1080 as cuda 11 is the last supported one
torchaudio==2.7.1+cu118 # needed for GTx 1080 as cuda 11 is the last supported one
h5py