scikit-learn==1.8.0
pandas==2.3.3
numpy==2.4.2
mlflow==3.10.1
boto3==1.42.61
minio==7.2.20
lakefs-client==1.44.0
joblib==1.5.3
kfp==2.16.0
kfp-kubernetes==2.16.0
kfp-pipeline-spec==2.16.0
kfp-server-api==2.16.0
